<footer class="bg-gray-900 text-gray-300 py-10 px-6 lg:px-20">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <p class="text-lg font-bold">NUPAC LMS</p>
      <div class="flex gap-6 mt-4 md:mt-0">
        <a href="/" class="hover:text-yellow-300">Home</a>
        <a href="/admin/login" class="hover:text-yellow-300">Admin Login</a>
        <a href="/about" class="hover:text-yellow-300">About</a>
         <a href="/uploads" class="block hover:text-yellow-300">Uploads</a>
      </div>
    </div>
    <p class="mt-6 text-center text-sm">© 2025 NUPAC. All rights reserved.</p>
  </footer>